.template--wrapperPreview {
    position: relative;
    aspect-ratio: 21/29.7;
    max-width: 100%;
    height: auto;
  }
  
  .template-transformed {
    display: flex;
    position: absolute;
    left: 50%;
    top: 0;
    background: white;
    transform-origin: top left;
  }
  
  .template--preview {
    width: 794px;
    height: 1123px;
    overflow: hidden;
  }
  
  .template--preview-dynamic {
    width: 794px;
    min-height: 1123px;
    overflow: hidden;
  }
  